{
  "branches": "main",
  "debug": true,
  "tagFormat": "${version}",
  "addReleases": "top",
  "npmPublish": false,
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "docs",
            "release": "minor"
          }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
