#trash {
  top: 558px;
  left: 913px;
}

#system {
  top: 64px;
  left: 887px;
}

#games {
  top: 200px;
  left: 913px;
}

#systemDisk {
  top: 81px;
  left: 50px;
  width: 560px;
  height: 260px;
  z-index: 1;
  display: block;
}

#gamesDisk {
  width: 400px;
  height: 240px;
  z-index: 2;
}

#high-scores-window {
  width: 400px;
  height: 280px;
}

#brickles-window {
  width: 870px;
  height: 600px;
}

.account-high-score {
  background-color: black;
  color: white;
}

.high-scores-list-item {
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 65% 20% 15%;
  width: 100%;
  font-size: 24px;
}

#trashDisk {
  width: 220px;
  height: 180px;
  z-index: 3;
}

.infoBar {
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 65% 20% 15%;
  width: 100%;
  font-size: 24px;
  margin-top: 12px;
  border-bottom: 2px solid black;
}

.game-info-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 48px;
}

.proof-container {
  gap: 12px;
  display: flex;
}

.text {
  font-size: 24px;
}

#finder,
#account-info {
  top: 100px;
  left: calc(50% - 340px);
  width: 680px;
  height: 208px;
  z-index: 1000;
}

* {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

*::-moz-selection {
  background: #fff;
}

*::selection {
  background: #fff;
}

body {
  margin: 0px;
  font-family: 'VT323';
  color: #000;
  background: #000;
}

.screen {
  display: block;
  position: absolute;
  top: 10px;
  left: calc(50% - 512px);
  width: 1024px;
  height: 780px;
  padding: 64px 28px 28px 28px;
  overflow: hidden;
  border-radius: 10px;
  background: conic-gradient(#000 90deg, #fff 0, #fff 180deg, #000 0, #000 270deg, #fff 0);
  background-size: 2px 2px;
}
.screen:after {
  display: block;
  position: absolute;
  top: -200px;
  left: -25%;
  content: '';
  width: 150%;
  height: 200px;
  filter: blur(4px);
  background: #000;
  opacity: 0.1;
  z-index: 10000;
  pointer-events: none;
}
.screen .toolbar {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  padding-left: 37px;
  border-bottom: 2px solid #000;
  background: #fff;
}
.screen .toolbar nav {
  display: block;
  width: 100%;
}
.screen .toolbar nav ul {
  display: block;
  width: 100%;
  margin-top: 2px;
  font-size: 0px;
}
.screen .toolbar nav ul > li {
  display: inline-block;
  position: relative;
  width: auto;
  height: 36px;
  margin-right: 10px;
  padding: 0px 10px 0px 10px;
  font-size: 30px;
  line-height: 34px;
}
.screen .toolbar nav ul > li.apple {
  position: relative;
  width: 38px;
  height: 36px;
  margin-right: 10px;
  cursor: default;
}
.screen .toolbar nav ul > li.apple:after {
  display: block;
  content: '';
  position: absolute;
  top: 4px;
  left: 10px;
  width: 2px;
  height: 2px;
  --box-shadow-color: #000;
  background: transparent;
}
.screen .toolbar nav ul > li:nth-child(2) .dropDown {
  min-width: 250px;
}
.screen .toolbar nav ul > li:nth-child(3) .dropDown {
  min-width: 230px;
}
.screen .toolbar nav ul > li .dropDown {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 36px;
  left: 0px;
  z-index: 10000;
  border: 2px solid #000;
  box-shadow: 3px 3px 0px -2px #000;
  background: #fff;
}
.screen .toolbar nav ul > li .dropDown li {
  display: block;
  position: relative;
  height: 32px;
  white-space: nowrap;
  font-size: 30px;
  line-height: 32px;
  color: #000;
  padding: 0px 10px 0px 26px;
  cursor: default;
}
.screen .toolbar nav ul > li .dropDown li.sep:after {
  display: block;
  content: '';
  position: absolute;
  top: 15px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #000;
}
.screen .toolbar nav ul > li .dropDown li.disable:after {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: conic-gradient(transparent 90deg, #fff 0, #fff 180deg, transparent 0, transparent 270deg, #fff 0);
  background-size: 2px 2px;
}
.screen .toolbar nav ul > li .dropDown li.selected:before {
  display: block;
  content: '';
  position: absolute;
  top: 9px;
  left: 4px;
  width: 2px;
  height: 2px;
  --box-shadow-color: #000;
  background: transparent;
}
.screen .toolbar nav ul > li .dropDown li label {
  float: left;
}
.screen .toolbar nav ul > li .dropDown li em {
  position: relative;
  float: right;
  width: auto;
  font-style: normal;
}
.screen .toolbar nav ul > li .dropDown li em:before {
  display: block;
  content: '';
  position: absolute;
  top: 8px;
  left: -22px;
  width: 2px;
  height: 2px;
  --box-shadow-color: #000;
  background: transparent;
}
.screen .toolbar nav ul > li .dropDown li:hover:not(.sep) {
  color: #fff;
  background: #000;
}
.screen .toolbar nav ul > li .dropDown li:hover:not(.sep) em:before {
  --box-shadow-color: #fff;
}
.screen .toolbar nav ul > li .dropDown li:hover.disable:hover {
  color: #000;
  background: transparent;
}
.screen .toolbar nav ul > li .dropDown li:hover.disable:hover em:before {
  --box-shadow-color: #000;
}
.screen .toolbar nav ul > li:hover {
  color: #fff;
  background: #000;
}
.screen .toolbar nav ul > li:hover .dropDown {
  visibility: visible;
}
.screen .toolbar nav ul > li:hover:after {
  --box-shadow-color: #fff;
}
.screen .window {
  position: absolute;
  padding: 74px 0px 0px 0px;
  box-sizing: content-box;
  border: 2px solid #000;
  box-shadow: 1px 1px 0px 0px #000;
  background: #fff;
}
.screen .window header {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  padding: 6px 0px 6px 0px;
  border-bottom: 2px solid #000;
}
.screen .window header:after {
  display: block;
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0px;
  width: 100%;
  height: 0px;
  border-bottom: 2px solid #000;
}
.screen .window header .close {
  display: block;
  position: absolute;
  left: 16px;
  width: 22px;
  height: 22px;
  border: 2px solid #000;
  outline: 2px solid #fff;
  background: #fff;
}
.screen .window header .close:after {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2px;
  height: 2px;
  --box-shadow-color: #fff;
  background: transparent;
}
.screen .window header .close:active:after {
  --box-shadow-color: #000;
}
.screen .window header h2 {
  display: block;
  width: calc(100% - 4px);
  height: 22px;
  margin-left: 2px;
  text-align: center;
  font-size: 30px;
  line-height: 22px;
  font-weight: 400;
  background-image: linear-gradient(to bottom, #000, #000 50%, #fff 50%, #fff);
  background-size: 4px 4px;
  cursor: move;
}
.screen .window header h2 span {
  padding: 0px 14px 0px 14px;
  background: #fff;
}
.screen .window header ul {
  display: block;
  width: 100%;
  height: 28px;
  padding: 6px 10px 0px 10px;
  margin-top: 6px;
  font-size: 0px;
  border-top: 2px solid #000;
}
.screen .window header ul li {
  display: inline-block;
  width: 33.33%;
  height: 20px;
  text-align: center;
  font-size: 24px;
  line-height: 20px;
}
.screen .window header ul li:first-child {
  text-align: left;
}
.screen .window header ul li:last-child {
  text-align: right;
}
.screen .window header ul.sortBar {
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  padding: 6px 0px 0px 0px;
}
.screen .window header ul.sortBar li {
  display: inline-block;
  width: 60px;
  height: 20px;
  font-size: 22px;
  line-height: 20px;
  text-align: left;
}
.screen .window header ul.sortBar li:first-child {
  width: calc(100% - 180px);
  min-width: 220px;
  padding-left: 40px;
  text-decoration: underline;
}
.screen .window header ul.sortBar li:last-child {
  width: 80px;
}
.screen .window .ui-resizable-handle {
  display: block;
  position: absolute;
}
.screen .window .ui-resizable-handle.ui-resizable-e {
  top: 0;
  right: -4px;
  width: 4px;
  height: 100%;
  cursor: e-resize;
}
.screen .window .ui-resizable-handle.ui-resizable-s {
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  cursor: s-resize;
}
.screen .window .ui-resizable-handle.ui-resizable-se {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  z-index: 100;
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: #000;
  background: #fff;
}
.screen .window .ui-resizable-handle.ui-resizable-se:before {
  display: block;
  content: '';
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 14px;
  height: 14px;
  border: 2px solid #000;
  background: #fff;
}
.screen .window .ui-resizable-handle.ui-resizable-se:after {
  display: block;
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  background: #fff;
}
.screen .window .content {
  display: block;
  position: relative;
  width: 100%;
  height: 100% !important;
}
.screen .window .content .grid {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 32px 32px 10px;
  white-space: nowrap;
}
.screen .window .content .grid li {
  display: inline-block;
  padding: 10px;
}
.screen .window .content .grid li .item {
  position: relative;
}
.screen .window .content .list {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 0px 50px 0px;
}
.screen .window .content .list li {
  display: block;
  position: relative;
  width: 100%;
  font-size: 20px;
  padding: 5px 0px;
  white-space: nowrap;
  margin-bottom: 2px;
  background: #fff;
}
.screen .window .content .list li:active {
  filter: invert(100%);
}
.screen .window .content .list li label {
  display: inline-block;
  padding-left: 40px;
  width: calc(100% - 180px);
  min-width: 220px;
}
.screen .window .content .list li span {
  display: inline-block;
  width: 60px;
}
.screen .window .content .list li em {
  display: inline-block;
  width: auto;
  font-style: normal;
}
.screen .dialog {
  position: absolute;
  padding: 0px 0px 0px 0px;
  text-align: center;
  padding: 50px 0px 0px 0px;
  box-sizing: border-box;
  border: 2px solid #000;
  box-shadow: 1px 1px 0px 0px #000;
  background: #fff;
}
.dialog-background {
  position: fixed;
  content: '';
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1000;
}
.screen .dialog h2 {
  margin-bottom: 38px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}
.screen .dialog h4 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}
.screen .item {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: auto;
}
.screen .item.ui-draggable-dragging {
  filter: invert(100%);
}
.screen .item:active {
  filter: invert(100%);
}
.screen .item .icon {
  display: block;
  right: auto;
  width: 100%;
  height: 70px;
}
.screen .item label {
  display: block;
  width: auto;
  max-width: 128px;
  height: auto;
  padding: 0px 6px;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  background: #fff;
}

.folder {
  display: block;
  position: absolute;
  top: 26px;
  left: 50%;
  width: 64px;
  height: 40px;
  transform: translate(-50%, 0);
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  border-color: #000;
  background: #fff;
}
.folder:before {
  display: block;
  content: '';
  position: absolute;
  top: -2px;
  left: 0px;
  width: 60px;
  height: 2px;
  background: #000;
}
.folder:after {
  display: block;
  content: '';
  position: absolute;
  top: -8px;
  left: 0px;
  width: 2px;
  height: 2px;
  --box-shadow-color: #000;
  --box-shadow-color1: #fff;
  background: transparent;
}

li.file:before {
  display: block;
  content: '';
  position: absolute;
  top: 4px;
  left: 10px;
  width: 2px;
  height: 2px;
  --box-shadow-color: #000;
  background: #000;
}

.hardDisk {
  display: block;
  position: absolute;
  top: 34px;
  left: calc(50%);
  width: 68px;
  height: 30px;
  transform: translate(-50%, 0);
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: #000;
  background: #fff;
}
.hardDisk:before {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  left: -2px;
  width: 68px;
  height: 26px;
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: #000;
  background: #fff;
}
.hardDisk:after {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 4px;
  height: 4px;
  --box-shadow-color: #000;
  background: transparent;
}

.disk {
  display: block;
  position: absolute;
  top: 12px;
  left: calc(50% - 2px);
  width: 46px;
  height: 54px;
  transform: translate(-50%, 0);
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: #000;
  background: #fff;
}
.disk:before {
  display: block;
  content: '';
  position: absolute;
  top: 4px;
  left: -2px;
  width: 50px;
  height: 46px;
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: #000;
  background: #fff;
}
.disk:after {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2px;
  height: 2px;
  --box-shadow-color: #000;
  --box-shadow-color1: #fff;
  background: transparent;
}
.disk .label {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 6px;
  width: 38px;
  height: 24px;
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: #000;
  background: #fff;
}
.disk .label:before {
  display: block;
  content: '';
  position: absolute;
  top: -2px;
  left: 0px;
  width: 34px;
  height: 2px;
  background: #000;
}
.disk .shutter {
  display: block;
  position: absolute;
  top: 0px;
  left: 10px;
  width: 30px;
  height: 16px;
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: #000;
  background: #fff;
}
.disk .shutter:before {
  display: block;
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 26px;
  height: 2px;
  background: #000;
}
.disk .shutter:after {
  display: block;
  content: '';
  position: absolute;
  top: 2px;
  left: 12px;
  width: 2px;
  height: 2px;
  --box-shadow-color: #000;
  background: transparent;
}

.disk.big {
  top: 2px;
  left: calc(50% - 2px);
  width: 56px;
  height: 64px;
}
.disk.big:before {
  width: 60px;
  height: 56px;
}
.disk.big .label {
  width: 48px;
  height: 26px;
}
.disk.big .label:before {
  width: 44px;
}
.disk.big .shutter {
  width: 36px;
  height: 20px;
  background: #000;
}
.disk.big .shutter:before {
  width: 32px;
}
.disk.big .shutter:after {
  top: 2px;
  left: 18px;
  --box-shadow-color: #fff;
}

.diskCopy {
  position: absolute;
  width: 100%;
  height: 100%;
}
.diskCopy .disk:first-child {
  top: 2px;
  left: calc(50% + 2px);
}
.diskCopy .disk:last-child {
  top: 12px;
  left: calc(50% - 6px);
}

.font {
  display: block;
  position: absolute;
  top: 4px;
  left: calc(50% - 4px);
  width: 48px;
  height: 64px;
  transform: translate(-50%, 0);
}
.font:before {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2px;
  height: 2px;
  --box-shadow-color: #000;
  --box-shadow-color1: #fff;
  background: transparent;
}
.font:after {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2px;
  height: 2px;
  --box-shadow-color: #000;
  background: transparent;
}

.trash {
  display: block;
  position: absolute;
  top: 6px;
  left: 50%;
  width: 42px;
  height: 56px;
  transform: translate(-50%, 0);
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  border-color: #000;
  background: #fff;
}
.trash:after {
  display: block;
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 38px;
  height: 2px;
  background: #000;
}
.trash .cover {
  display: block;
  position: absolute;
  top: 0px;
  left: -4px;
  width: 46px;
  height: 4px;
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  border-color: #000;
  background: #fff;
}
.trash .cover:before {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2px;
  height: 2px;
  --box-shadow-color: #000;
  background: transparent;
}
.trash .can {
  display: block;
  position: absolute;
  top: 10px;
  left: 6px;
  width: 26px;
  height: 38px;
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: #000;
  background: transparent;
}
.trash .can:before {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  left: 6px;
  width: 6px;
  height: 38px;
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: #000;
  background: transparent;
}
.trash .can:after {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2px;
  height: 2px;
  --box-shadow-color: #000;
  background: transparent;
}

.screen .toolbar nav ul > li.apple:after {
  width: 28px;
  height: 28px;
  background-image: url('https://matterlabs.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F703ee435-9e35-441a-b595-a8f42972ac1a%2F0640eafc-31f4-49c4-a91a-c031250a7923%2Farrows-white-round.png?table=block&id=d9312422-be09-40aa-8bbb-cc4995638a0e&spaceId=703ee435-9e35-441a-b595-a8f42972ac1a&width=670&userId=&cache=v2');
  background-size: contain;
  background-repeat: no-repeat;
}

.screen .toolbar nav ul > li .dropDown li.selected:before {
  box-shadow:
    16px 0px 0 var(--box-shadow-color),
    14px 2px 0 var(--box-shadow-color),
    12px 4px 0 var(--box-shadow-color),
    10px 6px 0 var(--box-shadow-color),
    0px 8px 0 var(--box-shadow-color),
    8px 8px 0 var(--box-shadow-color),
    2px 10px 0 var(--box-shadow-color),
    6px 10px 0 var(--box-shadow-color),
    4px 12px 0 var(--box-shadow-color);
}

.screen .toolbar nav ul > li .dropDown li em:before {
  box-shadow:
    2px 0px 0 var(--box-shadow-color),
    4px 0px 0 var(--box-shadow-color),
    12px 0px 0 var(--box-shadow-color),
    14px 0px 0 var(--box-shadow-color),
    0px 2px 0 var(--box-shadow-color),
    6px 2px 0 var(--box-shadow-color),
    10px 2px 0 var(--box-shadow-color),
    16px 2px 0 var(--box-shadow-color),
    0px 4px 0 var(--box-shadow-color),
    6px 4px 0 var(--box-shadow-color),
    10px 4px 0 var(--box-shadow-color),
    16px 4px 0 var(--box-shadow-color),
    2px 6px 0 var(--box-shadow-color),
    4px 6px 0 var(--box-shadow-color),
    6px 6px 0 var(--box-shadow-color),
    8px 6px 0 var(--box-shadow-color),
    10px 6px 0 var(--box-shadow-color),
    12px 6px 0 var(--box-shadow-color),
    14px 6px 0 var(--box-shadow-color),
    6px 8px 0 var(--box-shadow-color),
    10px 8px 0 var(--box-shadow-color),
    2px 10px 0 var(--box-shadow-color),
    4px 10px 0 var(--box-shadow-color),
    6px 10px 0 var(--box-shadow-color),
    8px 10px 0 var(--box-shadow-color),
    10px 10px 0 var(--box-shadow-color),
    12px 10px 0 var(--box-shadow-color),
    14px 10px 0 var(--box-shadow-color),
    0px 12px 0 var(--box-shadow-color),
    6px 12px 0 var(--box-shadow-color),
    10px 12px 0 var(--box-shadow-color),
    16px 12px 0 var(--box-shadow-color),
    0px 14px 0 var(--box-shadow-color),
    6px 14px 0 var(--box-shadow-color),
    10px 14px 0 var(--box-shadow-color),
    16px 14px 0 var(--box-shadow-color),
    2px 16px 0 var(--box-shadow-color),
    4px 16px 0 var(--box-shadow-color),
    12px 16px 0 var(--box-shadow-color),
    14px 16px 0 var(--box-shadow-color);
}

.screen .window header .close:after {
  box-shadow:
    8px 0px 0 var(--box-shadow-color),
    2px 2px 0 var(--box-shadow-color),
    8px 2px 0 var(--box-shadow-color),
    14px 2px 0 var(--box-shadow-color),
    4px 4px 0 var(--box-shadow-color),
    8px 4px 0 var(--box-shadow-color),
    12px 4px 0 var(--box-shadow-color),
    0px 8px 0 var(--box-shadow-color),
    2px 8px 0 var(--box-shadow-color),
    4px 8px 0 var(--box-shadow-color),
    12px 8px 0 var(--box-shadow-color),
    14px 8px 0 var(--box-shadow-color),
    16px 8px 0 var(--box-shadow-color),
    4px 12px 0 var(--box-shadow-color),
    8px 12px 0 var(--box-shadow-color),
    12px 12px 0 var(--box-shadow-color),
    2px 14px 0 var(--box-shadow-color),
    8px 14px 0 var(--box-shadow-color),
    14px 14px 0 var(--box-shadow-color),
    8px 16px 0 var(--box-shadow-color);
}

li.file:before {
  box-shadow:
    0px 0px 0 var(--box-shadow-color),
    2px 0px 0 var(--box-shadow-color),
    4px 0px 0 var(--box-shadow-color),
    6px 0px 0 var(--box-shadow-color),
    8px 0px 0 var(--box-shadow-color),
    10px 0px 0 var(--box-shadow-color),
    0px 2px 0 var(--box-shadow-color),
    10px 2px 0 var(--box-shadow-color),
    12px 2px 0 var(--box-shadow-color),
    0px 4px 0 var(--box-shadow-color),
    10px 4px 0 var(--box-shadow-color),
    12px 4px 0 var(--box-shadow-color),
    14px 4px 0 var(--box-shadow-color),
    0px 6px 0 var(--box-shadow-color),
    14px 6px 0 var(--box-shadow-color),
    0px 8px 0 var(--box-shadow-color),
    14px 8px 0 var(--box-shadow-color),
    0px 10px 0 var(--box-shadow-color),
    14px 10px 0 var(--box-shadow-color),
    0px 12px 0 var(--box-shadow-color),
    14px 12px 0 var(--box-shadow-color),
    0px 14px 0 var(--box-shadow-color),
    14px 14px 0 var(--box-shadow-color),
    0px 16px 0 var(--box-shadow-color),
    14px 16px 0 var(--box-shadow-color),
    0px 18px 0 var(--box-shadow-color),
    14px 18px 0 var(--box-shadow-color),
    0px 20px 0 var(--box-shadow-color),
    2px 20px 0 var(--box-shadow-color),
    4px 20px 0 var(--box-shadow-color),
    6px 20px 0 var(--box-shadow-color),
    8px 20px 0 var(--box-shadow-color),
    10px 20px 0 var(--box-shadow-color),
    12px 20px 0 var(--box-shadow-color),
    14px 20px 0 var(--box-shadow-color);
}

.content > .scroll-element.scroll-element_arrows_visible .scroll-arrow:after {
  box-shadow:
    12px 0px 0 var(--box-shadow-color),
    10px 2px 0 var(--box-shadow-color),
    14px 2px 0 var(--box-shadow-color),
    8px 4px 0 var(--box-shadow-color),
    16px 4px 0 var(--box-shadow-color),
    6px 6px 0 var(--box-shadow-color),
    18px 6px 0 var(--box-shadow-color),
    4px 8px 0 var(--box-shadow-color),
    20px 8px 0 var(--box-shadow-color),
    2px 10px 0 var(--box-shadow-color),
    22px 10px 0 var(--box-shadow-color),
    0px 12px 0 var(--box-shadow-color),
    2px 12px 0 var(--box-shadow-color),
    4px 12px 0 var(--box-shadow-color),
    6px 12px 0 var(--box-shadow-color),
    18px 12px 0 var(--box-shadow-color),
    20px 12px 0 var(--box-shadow-color),
    22px 12px 0 var(--box-shadow-color),
    24px 12px 0 var(--box-shadow-color),
    6px 14px 0 var(--box-shadow-color),
    18px 14px 0 var(--box-shadow-color),
    6px 16px 0 var(--box-shadow-color),
    18px 16px 0 var(--box-shadow-color),
    6px 18px 0 var(--box-shadow-color),
    18px 18px 0 var(--box-shadow-color),
    6px 20px 0 var(--box-shadow-color),
    18px 20px 0 var(--box-shadow-color),
    8px 20px 0 var(--box-shadow-color),
    10px 20px 0 var(--box-shadow-color),
    12px 20px 0 var(--box-shadow-color),
    14px 20px 0 var(--box-shadow-color),
    16px 20px 0 var(--box-shadow-color),
    12px 2px 0 var(--box-shadow-color1),
    10px 4px 0 var(--box-shadow-color1),
    12px 4px 0 var(--box-shadow-color1),
    14px 4px 0 var(--box-shadow-color1),
    8px 6px 0 var(--box-shadow-color1),
    10px 6px 0 var(--box-shadow-color1),
    12px 6px 0 var(--box-shadow-color1),
    14px 6px 0 var(--box-shadow-color1),
    16px 6px 0 var(--box-shadow-color1),
    6px 8px 0 var(--box-shadow-color1),
    8px 8px 0 var(--box-shadow-color1),
    10px 8px 0 var(--box-shadow-color1),
    12px 8px 0 var(--box-shadow-color1),
    14px 8px 0 var(--box-shadow-color1),
    16px 8px 0 var(--box-shadow-color1),
    18px 8px 0 var(--box-shadow-color1),
    4px 10px 0 var(--box-shadow-color1),
    6px 10px 0 var(--box-shadow-color1),
    8px 10px 0 var(--box-shadow-color1),
    10px 10px 0 var(--box-shadow-color1),
    12px 10px 0 var(--box-shadow-color1),
    14px 10px 0 var(--box-shadow-color1),
    16px 10px 0 var(--box-shadow-color1),
    18px 10px 0 var(--box-shadow-color1),
    20px 10px 0 var(--box-shadow-color1),
    8px 12px 0 var(--box-shadow-color1),
    10px 12px 0 var(--box-shadow-color1),
    12px 12px 0 var(--box-shadow-color1),
    14px 12px 0 var(--box-shadow-color1),
    16px 12px 0 var(--box-shadow-color1),
    8px 14px 0 var(--box-shadow-color1),
    10px 14px 0 var(--box-shadow-color1),
    12px 14px 0 var(--box-shadow-color1),
    14px 14px 0 var(--box-shadow-color1),
    16px 14px 0 var(--box-shadow-color1),
    8px 16px 0 var(--box-shadow-color1),
    10px 16px 0 var(--box-shadow-color1),
    12px 16px 0 var(--box-shadow-color1),
    14px 16px 0 var(--box-shadow-color1),
    16px 16px 0 var(--box-shadow-color1),
    8px 18px 0 var(--box-shadow-color1),
    10px 18px 0 var(--box-shadow-color1),
    12px 18px 0 var(--box-shadow-color1),
    14px 18px 0 var(--box-shadow-color1),
    16px 18px 0 var(--box-shadow-color1);
}

.folder:after {
  box-shadow:
    6px 0px 0 var(--box-shadow-color),
    8px 0px 0 var(--box-shadow-color),
    10px 0px 0 var(--box-shadow-color),
    12px 0px 0 var(--box-shadow-color),
    14px 0px 0 var(--box-shadow-color),
    16px 0px 0 var(--box-shadow-color),
    18px 0px 0 var(--box-shadow-color),
    20px 0px 0 var(--box-shadow-color),
    4px 2px 0 var(--box-shadow-color),
    22px 2px 0 var(--box-shadow-color),
    2px 4px 0 var(--box-shadow-color),
    24px 4px 0 var(--box-shadow-color),
    6px 2px 0 var(--box-shadow-color1),
    8px 2px 0 var(--box-shadow-color1),
    10px 2px 0 var(--box-shadow-color1),
    12px 2px 0 var(--box-shadow-color1),
    14px 2px 0 var(--box-shadow-color1),
    16px 2px 0 var(--box-shadow-color1),
    18px 2px 0 var(--box-shadow-color1),
    20px 2px 0 var(--box-shadow-color1),
    4px 4px 0 var(--box-shadow-color1),
    6px 4px 0 var(--box-shadow-color1),
    8px 4px 0 var(--box-shadow-color1),
    10px 4px 0 var(--box-shadow-color1),
    12px 4px 0 var(--box-shadow-color1),
    14px 4px 0 var(--box-shadow-color1),
    16px 4px 0 var(--box-shadow-color1),
    18px 4px 0 var(--box-shadow-color1),
    20px 4px 0 var(--box-shadow-color1),
    22px 4px 0 var(--box-shadow-color1);
}

.disk:after {
  box-shadow:
    -2px 0px 0 var(--box-shadow-color),
    46px 0px 0 var(--box-shadow-color),
    -2px 2px 0 var(--box-shadow-color),
    48px 2px 0 var(--box-shadow-color),
    46px 50px 0 var(--box-shadow-color),
    48px 50px 0 var(--box-shadow-color),
    46px 2px 0 var(--box-shadow-color1);
}

.hardDisk:after {
  box-shadow:
    4px 18px 0 var(--box-shadow-color),
    8px 26px 0 var(--box-shadow-color),
    56px 26px 0 var(--box-shadow-color);
}

.font:before {
  box-shadow:
    26px 0px 0 var(--box-shadow-color),
    24px 2px 0 var(--box-shadow-color),
    28px 2px 0 var(--box-shadow-color),
    22px 4px 0 var(--box-shadow-color),
    30px 4px 0 var(--box-shadow-color),
    20px 6px 0 var(--box-shadow-color),
    32px 6px 0 var(--box-shadow-color),
    18px 8px 0 var(--box-shadow-color),
    34px 8px 0 var(--box-shadow-color),
    16px 10px 0 var(--box-shadow-color),
    36px 10px 0 var(--box-shadow-color),
    14px 12px 0 var(--box-shadow-color),
    38px 12px 0 var(--box-shadow-color),
    12px 14px 0 var(--box-shadow-color),
    40px 14px 0 var(--box-shadow-color),
    10px 16px 0 var(--box-shadow-color),
    42px 16px 0 var(--box-shadow-color),
    8px 18px 0 var(--box-shadow-color),
    44px 18px 0 var(--box-shadow-color),
    10px 20px 0 var(--box-shadow-color),
    46px 20px 0 var(--box-shadow-color),
    12px 22px 0 var(--box-shadow-color),
    44px 22px 0 var(--box-shadow-color),
    10px 24px 0 var(--box-shadow-color),
    14px 24px 0 var(--box-shadow-color),
    42px 24px 0 var(--box-shadow-color),
    8px 26px 0 var(--box-shadow-color),
    16px 26px 0 var(--box-shadow-color),
    40px 26px 0 var(--box-shadow-color),
    44px 26px 0 var(--box-shadow-color),
    10px 28px 0 var(--box-shadow-color),
    18px 28px 0 var(--box-shadow-color),
    38px 28px 0 var(--box-shadow-color),
    46px 28px 0 var(--box-shadow-color),
    12px 30px 0 var(--box-shadow-color),
    20px 30px 0 var(--box-shadow-color),
    36px 30px 0 var(--box-shadow-color),
    44px 30px 0 var(--box-shadow-color),
    10px 32px 0 var(--box-shadow-color),
    14px 32px 0 var(--box-shadow-color),
    22px 32px 0 var(--box-shadow-color),
    34px 32px 0 var(--box-shadow-color),
    42px 32px 0 var(--box-shadow-color),
    8px 34px 0 var(--box-shadow-color),
    16px 34px 0 var(--box-shadow-color),
    24px 34px 0 var(--box-shadow-color),
    32px 34px 0 var(--box-shadow-color),
    40px 34px 0 var(--box-shadow-color),
    44px 34px 0 var(--box-shadow-color),
    10px 36px 0 var(--box-shadow-color),
    18px 36px 0 var(--box-shadow-color),
    26px 36px 0 var(--box-shadow-color),
    30px 36px 0 var(--box-shadow-color),
    38px 36px 0 var(--box-shadow-color),
    46px 36px 0 var(--box-shadow-color),
    12px 38px 0 var(--box-shadow-color),
    20px 38px 0 var(--box-shadow-color),
    28px 38px 0 var(--box-shadow-color),
    36px 38px 0 var(--box-shadow-color),
    44px 38px 0 var(--box-shadow-color),
    10px 40px 0 var(--box-shadow-color),
    14px 40px 0 var(--box-shadow-color),
    22px 40px 0 var(--box-shadow-color),
    34px 40px 0 var(--box-shadow-color),
    42px 40px 0 var(--box-shadow-color),
    8px 42px 0 var(--box-shadow-color),
    16px 42px 0 var(--box-shadow-color),
    24px 42px 0 var(--box-shadow-color),
    32px 42px 0 var(--box-shadow-color),
    40px 42px 0 var(--box-shadow-color),
    44px 42px 0 var(--box-shadow-color),
    10px 44px 0 var(--box-shadow-color),
    18px 44px 0 var(--box-shadow-color),
    26px 44px 0 var(--box-shadow-color),
    30px 44px 0 var(--box-shadow-color),
    38px 44px 0 var(--box-shadow-color),
    46px 44px 0 var(--box-shadow-color),
    12px 46px 0 var(--box-shadow-color),
    20px 46px 0 var(--box-shadow-color),
    28px 46px 0 var(--box-shadow-color),
    36px 46px 0 var(--box-shadow-color),
    44px 46px 0 var(--box-shadow-color),
    14px 48px 0 var(--box-shadow-color),
    22px 48px 0 var(--box-shadow-color),
    34px 48px 0 var(--box-shadow-color),
    42px 48px 0 var(--box-shadow-color),
    16px 50px 0 var(--box-shadow-color),
    24px 50px 0 var(--box-shadow-color),
    32px 50px 0 var(--box-shadow-color),
    40px 50px 0 var(--box-shadow-color),
    18px 52px 0 var(--box-shadow-color),
    26px 52px 0 var(--box-shadow-color),
    30px 52px 0 var(--box-shadow-color),
    38px 52px 0 var(--box-shadow-color),
    20px 54px 0 var(--box-shadow-color),
    28px 54px 0 var(--box-shadow-color),
    36px 54px 0 var(--box-shadow-color),
    22px 56px 0 var(--box-shadow-color),
    34px 56px 0 var(--box-shadow-color),
    24px 58px 0 var(--box-shadow-color),
    32px 58px 0 var(--box-shadow-color),
    26px 60px 0 var(--box-shadow-color),
    30px 60px 0 var(--box-shadow-color),
    28px 62px 0 var(--box-shadow-color),
    26px 2px 0 var(--box-shadow-color1),
    24px 4px 0 var(--box-shadow-color1),
    26px 4px 0 var(--box-shadow-color1),
    28px 4px 0 var(--box-shadow-color1),
    22px 6px 0 var(--box-shadow-color1),
    24px 6px 0 var(--box-shadow-color1),
    26px 6px 0 var(--box-shadow-color1),
    28px 6px 0 var(--box-shadow-color1),
    30px 6px 0 var(--box-shadow-color1),
    20px 8px 0 var(--box-shadow-color1),
    22px 8px 0 var(--box-shadow-color1),
    24px 8px 0 var(--box-shadow-color1),
    26px 8px 0 var(--box-shadow-color1),
    28px 8px 0 var(--box-shadow-color1),
    30px 8px 0 var(--box-shadow-color1),
    32px 8px 0 var(--box-shadow-color1),
    18px 10px 0 var(--box-shadow-color1),
    20px 10px 0 var(--box-shadow-color1),
    22px 10px 0 var(--box-shadow-color1),
    24px 10px 0 var(--box-shadow-color1),
    26px 10px 0 var(--box-shadow-color1),
    28px 10px 0 var(--box-shadow-color1),
    30px 10px 0 var(--box-shadow-color1),
    32px 10px 0 var(--box-shadow-color1),
    34px 10px 0 var(--box-shadow-color1),
    16px 12px 0 var(--box-shadow-color1),
    18px 12px 0 var(--box-shadow-color1),
    20px 12px 0 var(--box-shadow-color1),
    22px 12px 0 var(--box-shadow-color1),
    24px 12px 0 var(--box-shadow-color1),
    26px 12px 0 var(--box-shadow-color1),
    28px 12px 0 var(--box-shadow-color1),
    30px 12px 0 var(--box-shadow-color1),
    32px 12px 0 var(--box-shadow-color1),
    34px 12px 0 var(--box-shadow-color1),
    36px 12px 0 var(--box-shadow-color1),
    14px 14px 0 var(--box-shadow-color1),
    16px 14px 0 var(--box-shadow-color1),
    18px 14px 0 var(--box-shadow-color1),
    20px 14px 0 var(--box-shadow-color1),
    22px 14px 0 var(--box-shadow-color1),
    24px 14px 0 var(--box-shadow-color1),
    26px 14px 0 var(--box-shadow-color1),
    28px 14px 0 var(--box-shadow-color1),
    30px 14px 0 var(--box-shadow-color1),
    32px 14px 0 var(--box-shadow-color1),
    34px 14px 0 var(--box-shadow-color1),
    36px 14px 0 var(--box-shadow-color1),
    38px 14px 0 var(--box-shadow-color1),
    12px 16px 0 var(--box-shadow-color1),
    14px 16px 0 var(--box-shadow-color1),
    16px 16px 0 var(--box-shadow-color1),
    18px 16px 0 var(--box-shadow-color1),
    20px 16px 0 var(--box-shadow-color1),
    22px 16px 0 var(--box-shadow-color1),
    24px 16px 0 var(--box-shadow-color1),
    26px 16px 0 var(--box-shadow-color1),
    28px 16px 0 var(--box-shadow-color1),
    30px 16px 0 var(--box-shadow-color1),
    32px 16px 0 var(--box-shadow-color1),
    34px 16px 0 var(--box-shadow-color1),
    36px 16px 0 var(--box-shadow-color1),
    38px 16px 0 var(--box-shadow-color1),
    40px 16px 0 var(--box-shadow-color1),
    10px 18px 0 var(--box-shadow-color1),
    12px 18px 0 var(--box-shadow-color1),
    14px 18px 0 var(--box-shadow-color1),
    16px 18px 0 var(--box-shadow-color1),
    18px 18px 0 var(--box-shadow-color1),
    20px 18px 0 var(--box-shadow-color1),
    22px 18px 0 var(--box-shadow-color1),
    24px 18px 0 var(--box-shadow-color1),
    26px 18px 0 var(--box-shadow-color1),
    28px 18px 0 var(--box-shadow-color1),
    30px 18px 0 var(--box-shadow-color1),
    32px 18px 0 var(--box-shadow-color1),
    34px 18px 0 var(--box-shadow-color1),
    36px 18px 0 var(--box-shadow-color1),
    38px 18px 0 var(--box-shadow-color1),
    40px 18px 0 var(--box-shadow-color1),
    42px 18px 0 var(--box-shadow-color1),
    12px 20px 0 var(--box-shadow-color1),
    14px 20px 0 var(--box-shadow-color1),
    16px 20px 0 var(--box-shadow-color1),
    18px 20px 0 var(--box-shadow-color1),
    20px 20px 0 var(--box-shadow-color1),
    22px 20px 0 var(--box-shadow-color1),
    24px 20px 0 var(--box-shadow-color1),
    26px 20px 0 var(--box-shadow-color1),
    28px 20px 0 var(--box-shadow-color1),
    30px 20px 0 var(--box-shadow-color1),
    32px 20px 0 var(--box-shadow-color1),
    34px 20px 0 var(--box-shadow-color1),
    36px 20px 0 var(--box-shadow-color1),
    38px 20px 0 var(--box-shadow-color1),
    40px 20px 0 var(--box-shadow-color1),
    42px 20px 0 var(--box-shadow-color1),
    44px 20px 0 var(--box-shadow-color1),
    14px 22px 0 var(--box-shadow-color1),
    16px 22px 0 var(--box-shadow-color1),
    18px 22px 0 var(--box-shadow-color1),
    20px 22px 0 var(--box-shadow-color1),
    22px 22px 0 var(--box-shadow-color1),
    24px 22px 0 var(--box-shadow-color1),
    26px 22px 0 var(--box-shadow-color1),
    28px 22px 0 var(--box-shadow-color1),
    30px 22px 0 var(--box-shadow-color1),
    32px 22px 0 var(--box-shadow-color1),
    34px 22px 0 var(--box-shadow-color1),
    36px 22px 0 var(--box-shadow-color1),
    38px 22px 0 var(--box-shadow-color1),
    40px 22px 0 var(--box-shadow-color1),
    42px 22px 0 var(--box-shadow-color1),
    12px 24px 0 var(--box-shadow-color1),
    16px 24px 0 var(--box-shadow-color1),
    18px 24px 0 var(--box-shadow-color1),
    20px 24px 0 var(--box-shadow-color1),
    22px 24px 0 var(--box-shadow-color1),
    24px 24px 0 var(--box-shadow-color1),
    26px 24px 0 var(--box-shadow-color1),
    28px 24px 0 var(--box-shadow-color1),
    30px 24px 0 var(--box-shadow-color1),
    32px 24px 0 var(--box-shadow-color1),
    34px 24px 0 var(--box-shadow-color1),
    36px 24px 0 var(--box-shadow-color1),
    38px 24px 0 var(--box-shadow-color1),
    40px 24px 0 var(--box-shadow-color1),
    10px 26px 0 var(--box-shadow-color1),
    12px 26px 0 var(--box-shadow-color1),
    14px 26px 0 var(--box-shadow-color1),
    18px 26px 0 var(--box-shadow-color1),
    20px 26px 0 var(--box-shadow-color1),
    22px 26px 0 var(--box-shadow-color1),
    24px 26px 0 var(--box-shadow-color1),
    26px 26px 0 var(--box-shadow-color1),
    28px 26px 0 var(--box-shadow-color1),
    30px 26px 0 var(--box-shadow-color1),
    32px 26px 0 var(--box-shadow-color1),
    34px 26px 0 var(--box-shadow-color1),
    36px 26px 0 var(--box-shadow-color1),
    38px 26px 0 var(--box-shadow-color1),
    42px 26px 0 var(--box-shadow-color1),
    12px 28px 0 var(--box-shadow-color1),
    14px 28px 0 var(--box-shadow-color1),
    16px 28px 0 var(--box-shadow-color1),
    20px 28px 0 var(--box-shadow-color1),
    22px 28px 0 var(--box-shadow-color1),
    24px 28px 0 var(--box-shadow-color1),
    26px 28px 0 var(--box-shadow-color1),
    28px 28px 0 var(--box-shadow-color1),
    30px 28px 0 var(--box-shadow-color1),
    32px 28px 0 var(--box-shadow-color1),
    34px 28px 0 var(--box-shadow-color1),
    36px 28px 0 var(--box-shadow-color1),
    40px 28px 0 var(--box-shadow-color1),
    42px 28px 0 var(--box-shadow-color1),
    44px 28px 0 var(--box-shadow-color1),
    14px 30px 0 var(--box-shadow-color1),
    16px 30px 0 var(--box-shadow-color1),
    18px 30px 0 var(--box-shadow-color1),
    22px 30px 0 var(--box-shadow-color1),
    24px 30px 0 var(--box-shadow-color1),
    26px 30px 0 var(--box-shadow-color1),
    28px 30px 0 var(--box-shadow-color1),
    30px 30px 0 var(--box-shadow-color1),
    32px 30px 0 var(--box-shadow-color1),
    34px 30px 0 var(--box-shadow-color1),
    38px 30px 0 var(--box-shadow-color1),
    40px 30px 0 var(--box-shadow-color1),
    42px 30px 0 var(--box-shadow-color1),
    12px 32px 0 var(--box-shadow-color1),
    16px 32px 0 var(--box-shadow-color1),
    18px 32px 0 var(--box-shadow-color1),
    20px 32px 0 var(--box-shadow-color1),
    24px 32px 0 var(--box-shadow-color1),
    26px 32px 0 var(--box-shadow-color1),
    28px 32px 0 var(--box-shadow-color1),
    30px 32px 0 var(--box-shadow-color1),
    32px 32px 0 var(--box-shadow-color1),
    36px 32px 0 var(--box-shadow-color1),
    38px 32px 0 var(--box-shadow-color1),
    40px 32px 0 var(--box-shadow-color1),
    10px 34px 0 var(--box-shadow-color1),
    12px 34px 0 var(--box-shadow-color1),
    14px 34px 0 var(--box-shadow-color1),
    18px 34px 0 var(--box-shadow-color1),
    20px 34px 0 var(--box-shadow-color1),
    22px 34px 0 var(--box-shadow-color1),
    24px 34px 0 var(--box-shadow-color1),
    26px 34px 0 var(--box-shadow-color1),
    28px 34px 0 var(--box-shadow-color1),
    30px 34px 0 var(--box-shadow-color1),
    34px 34px 0 var(--box-shadow-color1),
    36px 34px 0 var(--box-shadow-color1),
    38px 34px 0 var(--box-shadow-color1),
    42px 34px 0 var(--box-shadow-color1),
    12px 36px 0 var(--box-shadow-color1),
    14px 36px 0 var(--box-shadow-color1),
    16px 36px 0 var(--box-shadow-color1),
    20px 36px 0 var(--box-shadow-color1),
    22px 36px 0 var(--box-shadow-color1),
    24px 36px 0 var(--box-shadow-color1),
    28px 36px 0 var(--box-shadow-color1),
    32px 36px 0 var(--box-shadow-color1),
    34px 36px 0 var(--box-shadow-color1),
    36px 36px 0 var(--box-shadow-color1),
    40px 36px 0 var(--box-shadow-color1),
    42px 36px 0 var(--box-shadow-color1),
    44px 36px 0 var(--box-shadow-color1),
    14px 38px 0 var(--box-shadow-color1),
    16px 38px 0 var(--box-shadow-color1),
    18px 38px 0 var(--box-shadow-color1),
    22px 38px 0 var(--box-shadow-color1),
    24px 38px 0 var(--box-shadow-color1),
    26px 38px 0 var(--box-shadow-color1),
    30px 38px 0 var(--box-shadow-color1),
    32px 38px 0 var(--box-shadow-color1),
    34px 38px 0 var(--box-shadow-color1),
    38px 38px 0 var(--box-shadow-color1),
    40px 38px 0 var(--box-shadow-color1),
    42px 38px 0 var(--box-shadow-color1),
    12px 40px 0 var(--box-shadow-color1),
    16px 40px 0 var(--box-shadow-color1),
    18px 40px 0 var(--box-shadow-color1),
    20px 40px 0 var(--box-shadow-color1),
    24px 40px 0 var(--box-shadow-color1),
    26px 40px 0 var(--box-shadow-color1),
    28px 40px 0 var(--box-shadow-color1),
    30px 40px 0 var(--box-shadow-color1),
    32px 40px 0 var(--box-shadow-color1),
    36px 40px 0 var(--box-shadow-color1),
    38px 40px 0 var(--box-shadow-color1),
    40px 40px 0 var(--box-shadow-color1),
    10px 42px 0 var(--box-shadow-color1),
    12px 42px 0 var(--box-shadow-color1),
    14px 42px 0 var(--box-shadow-color1),
    18px 42px 0 var(--box-shadow-color1),
    20px 42px 0 var(--box-shadow-color1),
    22px 42px 0 var(--box-shadow-color1),
    26px 42px 0 var(--box-shadow-color1),
    28px 42px 0 var(--box-shadow-color1),
    30px 42px 0 var(--box-shadow-color1),
    34px 42px 0 var(--box-shadow-color1),
    36px 42px 0 var(--box-shadow-color1),
    38px 42px 0 var(--box-shadow-color1),
    42px 42px 0 var(--box-shadow-color1),
    12px 44px 0 var(--box-shadow-color1),
    14px 44px 0 var(--box-shadow-color1),
    16px 44px 0 var(--box-shadow-color1),
    20px 44px 0 var(--box-shadow-color1),
    22px 44px 0 var(--box-shadow-color1),
    24px 44px 0 var(--box-shadow-color1),
    28px 44px 0 var(--box-shadow-color1),
    32px 44px 0 var(--box-shadow-color1),
    34px 44px 0 var(--box-shadow-color1),
    36px 44px 0 var(--box-shadow-color1),
    40px 44px 0 var(--box-shadow-color1),
    42px 44px 0 var(--box-shadow-color1),
    44px 44px 0 var(--box-shadow-color1),
    14px 46px 0 var(--box-shadow-color1),
    16px 46px 0 var(--box-shadow-color1),
    18px 46px 0 var(--box-shadow-color1),
    22px 46px 0 var(--box-shadow-color1),
    24px 46px 0 var(--box-shadow-color1),
    26px 46px 0 var(--box-shadow-color1),
    30px 46px 0 var(--box-shadow-color1),
    32px 46px 0 var(--box-shadow-color1),
    34px 46px 0 var(--box-shadow-color1),
    38px 46px 0 var(--box-shadow-color1),
    40px 46px 0 var(--box-shadow-color1),
    42px 46px 0 var(--box-shadow-color1),
    16px 48px 0 var(--box-shadow-color1),
    18px 48px 0 var(--box-shadow-color1),
    20px 48px 0 var(--box-shadow-color1),
    24px 48px 0 var(--box-shadow-color1),
    26px 48px 0 var(--box-shadow-color1),
    28px 48px 0 var(--box-shadow-color1),
    30px 48px 0 var(--box-shadow-color1),
    32px 48px 0 var(--box-shadow-color1),
    36px 48px 0 var(--box-shadow-color1),
    38px 48px 0 var(--box-shadow-color1),
    40px 48px 0 var(--box-shadow-color1),
    18px 50px 0 var(--box-shadow-color1),
    20px 50px 0 var(--box-shadow-color1),
    22px 50px 0 var(--box-shadow-color1),
    26px 50px 0 var(--box-shadow-color1),
    28px 50px 0 var(--box-shadow-color1),
    30px 50px 0 var(--box-shadow-color1),
    34px 50px 0 var(--box-shadow-color1),
    36px 50px 0 var(--box-shadow-color1),
    38px 50px 0 var(--box-shadow-color1),
    20px 52px 0 var(--box-shadow-color1),
    22px 52px 0 var(--box-shadow-color1),
    24px 52px 0 var(--box-shadow-color1),
    28px 52px 0 var(--box-shadow-color1),
    32px 52px 0 var(--box-shadow-color1),
    34px 52px 0 var(--box-shadow-color1),
    36px 52px 0 var(--box-shadow-color1),
    22px 54px 0 var(--box-shadow-color1),
    24px 54px 0 var(--box-shadow-color1),
    26px 54px 0 var(--box-shadow-color1),
    30px 54px 0 var(--box-shadow-color1),
    32px 54px 0 var(--box-shadow-color1),
    34px 54px 0 var(--box-shadow-color1),
    24px 56px 0 var(--box-shadow-color1),
    26px 56px 0 var(--box-shadow-color1),
    28px 56px 0 var(--box-shadow-color1),
    30px 56px 0 var(--box-shadow-color1),
    32px 56px 0 var(--box-shadow-color1),
    26px 58px 0 var(--box-shadow-color1),
    28px 58px 0 var(--box-shadow-color1),
    30px 58px 0 var(--box-shadow-color1),
    28px 60px 0 var(--box-shadow-color1);
}

.font:after {
  box-shadow:
    26px 10px 0 var(--box-shadow-color),
    26px 12px 0 var(--box-shadow-color),
    28px 12px 0 var(--box-shadow-color),
    26px 14px 0 var(--box-shadow-color),
    30px 14px 0 var(--box-shadow-color),
    26px 16px 0 var(--box-shadow-color),
    32px 16px 0 var(--box-shadow-color),
    26px 18px 0 var(--box-shadow-color),
    30px 18px 0 var(--box-shadow-color),
    34px 18px 0 var(--box-shadow-color),
    26px 20px 0 var(--box-shadow-color),
    28px 20px 0 var(--box-shadow-color),
    36px 20px 0 var(--box-shadow-color),
    26px 22px 0 var(--box-shadow-color),
    26px 24px 0 var(--box-shadow-color),
    26px 26px 0 var(--box-shadow-color),
    26px 28px 0 var(--box-shadow-color);
}

.disk .shutter:after {
  box-shadow:
    2px 0px 0 var(--box-shadow-color),
    4px 0px 0 var(--box-shadow-color),
    6px 0px 0 var(--box-shadow-color),
    0px 2px 0 var(--box-shadow-color),
    8px 2px 0 var(--box-shadow-color),
    0px 4px 0 var(--box-shadow-color),
    8px 4px 0 var(--box-shadow-color),
    0px 6px 0 var(--box-shadow-color),
    8px 6px 0 var(--box-shadow-color),
    0px 8px 0 var(--box-shadow-color),
    8px 8px 0 var(--box-shadow-color),
    2px 10px 0 var(--box-shadow-color),
    4px 10px 0 var(--box-shadow-color),
    6px 10px 0 var(--box-shadow-color);
}

.disk.big:after {
  box-shadow:
    -2px 0px 0 var(--box-shadow-color),
    56px 0px 0 var(--box-shadow-color),
    -2px 2px 0 var(--box-shadow-color),
    58px 2px 0 var(--box-shadow-color),
    56px 60px 0 var(--box-shadow-color),
    58px 60px 0 var(--box-shadow-color),
    56px 2px 0 var(--box-shadow-color1);
}

.disk.big .shutter:after {
  box-shadow:
    2px 0px 0 var(--box-shadow-color),
    4px 0px 0 var(--box-shadow-color),
    6px 0px 0 var(--box-shadow-color),
    8px 0px 0 var(--box-shadow-color),
    0px 2px 0 var(--box-shadow-color),
    2px 2px 0 var(--box-shadow-color),
    4px 2px 0 var(--box-shadow-color),
    6px 2px 0 var(--box-shadow-color),
    8px 2px 0 var(--box-shadow-color),
    10px 2px 0 var(--box-shadow-color),
    0px 4px 0 var(--box-shadow-color),
    2px 4px 0 var(--box-shadow-color),
    4px 4px 0 var(--box-shadow-color),
    6px 4px 0 var(--box-shadow-color),
    8px 4px 0 var(--box-shadow-color),
    10px 4px 0 var(--box-shadow-color),
    0px 6px 0 var(--box-shadow-color),
    2px 6px 0 var(--box-shadow-color),
    4px 6px 0 var(--box-shadow-color),
    6px 6px 0 var(--box-shadow-color),
    8px 6px 0 var(--box-shadow-color),
    10px 6px 0 var(--box-shadow-color),
    0px 8px 0 var(--box-shadow-color),
    2px 8px 0 var(--box-shadow-color),
    4px 8px 0 var(--box-shadow-color),
    6px 8px 0 var(--box-shadow-color),
    8px 8px 0 var(--box-shadow-color),
    10px 8px 0 var(--box-shadow-color),
    0px 10px 0 var(--box-shadow-color),
    2px 10px 0 var(--box-shadow-color),
    4px 10px 0 var(--box-shadow-color),
    6px 10px 0 var(--box-shadow-color),
    8px 10px 0 var(--box-shadow-color),
    10px 10px 0 var(--box-shadow-color),
    0px 12px 0 var(--box-shadow-color),
    2px 12px 0 var(--box-shadow-color),
    4px 12px 0 var(--box-shadow-color),
    6px 12px 0 var(--box-shadow-color),
    8px 12px 0 var(--box-shadow-color),
    10px 12px 0 var(--box-shadow-color),
    2px 14px 0 var(--box-shadow-color),
    4px 14px 0 var(--box-shadow-color),
    6px 14px 0 var(--box-shadow-color),
    8px 14px 0 var(--box-shadow-color);
}

.trash .cover:before {
  box-shadow:
    15px -6px 0 var(--box-shadow-color),
    17px -6px 0 var(--box-shadow-color),
    19px -6px 0 var(--box-shadow-color),
    21px -6px 0 var(--box-shadow-color),
    23px -6px 0 var(--box-shadow-color),
    25px -6px 0 var(--box-shadow-color),
    13px -4px 0 var(--box-shadow-color),
    27px -4px 0 var(--box-shadow-color);
}

.trash .can:after {
  box-shadow:
    0px -2px 0 var(--box-shadow-color),
    8px -2px 0 var(--box-shadow-color),
    16px -2px 0 var(--box-shadow-color),
    24px -2px 0 var(--box-shadow-color),
    0px 38px 0 var(--box-shadow-color),
    8px 38px 0 var(--box-shadow-color),
    16px 38px 0 var(--box-shadow-color),
    24px 38px 0 var(--box-shadow-color);
}
.scroll-wrapper {
  position: relative;
  padding: 0 !important;
  overflow: hidden !important;
}
.scroll-wrapper > .scroll-content {
  position: relative !important;
  top: 0;
  left: 0;
  width: auto !important;
  max-width: none !important;
  height: auto;
  max-height: none;
  margin: 0;
  padding: 0;
  overflow: scroll !important;
  border: none !important;
  box-sizing: content-box !important;
}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.scroll-wrapper .scroll-element {
  display: block;
  box-sizing: content-box;
}
.scroll-wrapper .scroll-element div {
  box-sizing: content-box;
}
.scroll-wrapper .scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-wrapper .scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}
.scroll-wrapper .scroll-element .scroll-bar,
.scroll-wrapper .scroll-element .scroll-arrow {
  cursor: default;
}

.content > .scroll-content.scroll-scrolly_visible {
  left: -30px;
  margin-left: 30px;
}
.content > .scroll-content.scroll-scrollx_visible {
  top: -30px;
  margin-top: 30px;
}
.content > .scroll-element {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 10;
  background: conic-gradient(#000 90deg, #fff 0, #fff 180deg, #000 0, #000 270deg, #fff 0);
  background-size: 2px 2px;
}
.content > .scroll-element div {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 10;
}
.content > .scroll-element .scroll-element_outer,
.content > .scroll-element .scroll-element_size,
.content > .scroll-element .scroll-element_inner-wrapper,
.content > .scroll-element .scroll-element_inner,
.content > .scroll-element .scroll-bar,
.content > .scroll-element .scroll-bar div {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.content > .scroll-element .scroll-element_outer,
.content > .scroll-element .scroll-element_size,
.content > .scroll-element .scroll-element_inner-wrapper,
.content > .scroll-element .scroll-bar_body {
  background: none !important;
}
.content > .scroll-element.scroll-x {
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  height: 28px;
  border-top: solid 2px #000;
}
.content > .scroll-element.scroll-x .scroll-bar {
  margin-left: 28px;
  min-width: 28px;
  background: #fff;
  border-style: solid;
  border-color: #000;
  border-width: 0px 2px 0px 2px;
}
.content > .scroll-element.scroll-x.scroll-scrollx_visible .scroll-arrow:hover:after {
  --box-shadow-color1: #000;
}
.content > .scroll-element.scroll-x .scroll-bar_body {
  left: 12px;
}
.content > .scroll-element.scroll-y {
  top: 0;
  right: 0;
  width: 28px;
  min-height: 100%;
  height: 100%;
  border-left: solid 2px #000;
}
.content > .scroll-element.scroll-y .scroll-bar {
  min-height: 28px;
  background: #fff;
  border-style: solid;
  border-color: #000;
  border-width: 2px 0px 2px 0px;
}
.content > .scroll-element.scroll-y.scroll-scrolly_visible .scroll-arrow:hover:after {
  --box-shadow-color1: #000;
}
.content > .scroll-element.scroll-element_arrows_visible .scroll-arrow {
  display: block;
  z-index: 12;
  background: #fff;
}
.content > .scroll-element.scroll-element_arrows_visible .scroll-arrow:after {
  content: '';
  display: block;
  width: 2px;
  height: 2px;
  --box-shadow-color: #000;
  --box-shadow-color1: #fff;
  transform-origin: 13px 13px;
}
.content > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-arrow_less {
  width: 28px;
  height: 100%;
  border-style: solid;
  border-color: #000;
  border-width: 0px 2px 0px 0px;
}
.content > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-arrow_less:after {
  transform: rotate(-90deg);
  margin: 1px 0px 0px 2px;
}
.content > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-arrow_more {
  left: auto;
  right: 30px;
  width: 28px;
  height: 100%;
  border-style: solid;
  border-color: #000;
  border-width: 0px 0px 0px 2px;
}
.content > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-arrow_more:after {
  transform: rotate(90deg);
  margin: 1px 0px 0px 0px;
}
.content > .scroll-element.scroll-x.scroll-element_arrows_visible.scroll-scrolly_visible .scroll-arrow_more {
  right: 30px;
}
.content > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-element_inner {
  left: -30px;
}
.content > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-element_size {
  left: -86px;
}
.content > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-arrow_less {
  width: 100%;
  height: 28px;
  border-style: solid;
  border-color: #000;
  border-width: 0px 0px 2px 0px;
}
.content > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-arrow_less:after {
  margin: 2px 0px 0px 1px;
}
.content > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-arrow_more {
  top: auto;
  bottom: 28px;
  width: 100%;
  height: 28px;
  border-style: solid;
  border-color: #000;
  border-width: 2px 0px 2px 0px;
}
.content > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-arrow_more:after {
  transform: rotate(180deg);
  margin: 0px 0px 0px 1px;
}
.content > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-element_outer {
  top: 28px;
}
.content > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-element_inner {
  top: 0px;
}
.content > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-element_size {
  top: -86px;
}
.content > .scroll-element.scroll-y.scroll-element_arrows_visible.scroll-scrollx_visible .scroll-arrow_more {
  bottom: 28px;
}
