name: Playwright Tests

on:
  pull_request:

jobs:
  test-tutorials:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tutorial:
          - "tests/erc20-paymaster.spec.ts" 
          - "tests/how-to-test-contracts.spec.ts"
          - "tests/daily-spend-limit.spec.ts"
          - "tests/native-aa-multisig.spec.ts"

    steps:
    - uses: actions/checkout@v4
    - uses: oven-sh/setup-bun@v1
    - name: Install Dependencies
      run: bun install --frozen-lockfile
    - uses: actions/setup-node@v4
    - name: Install Playwright Browsers
      run: bun playwright install chromium --with-deps
    - name: Install Era Test Node
      run: |
        curl --proto '=https' -sSf https://raw.githubusercontent.com/matter-labs/era-test-node/main/scripts/install.sh > install.sh
        chmod +x install.sh
        sudo ./install.sh
    - name: Run test for ${{ matrix.tutorial }}
      run: |
        export TERM=xterm-256color
        export COLUMNS=80
        export LINES=24
        script -q -c "bun test:github ${{ matrix.tutorial }}"
      
