name: Playwright Tests

on:
  pull_request:

jobs:
  test-tutorials:
    timeout-minutes: 12
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tutorial:
          - "erc20-paymaster" 
          - "how-to-test-contracts"
          - "daily-spend-limit"
          - "signing-txns-with-webauthn"
          - "native-aa-multisig"
          - "frontend-paymaster"
          - "zk-game"

    steps:
    - uses: actions/checkout@v4
    - uses: oven-sh/setup-bun@v1
    - name: Install Dependencies
      run: bun install --frozen-lockfile
    - uses: actions/setup-node@v4
    - name: Install Playwright Browsers
      run: bun playwright install chromium --with-deps
    - name: Run ZKsync Anvil Node
      uses: dutterbutter/anvil-zksync-action@latest
    - name: Create Metamask Cache
      if: matrix.tutorial == 'frontend-paymaster'
      run: xvfb-run bun setup:mm
    - name: Install Rust Toolchain
      if: matrix.tutorial == 'zk-game'
      uses: actions-rs/toolchain@v1
      with:
            toolchain: 1.81.0
            components: llvm-tools, rustc-dev
    - name: Install Cargo Prove
      if: matrix.tutorial == 'zk-game'
      run: |
        curl -L https://sp1.succinct.xyz | bash
        ~/.sp1/bin/sp1up 
        ~/.sp1/bin/cargo-prove prove --version
        source ~/.bashrc
    - name: Run test for ${{ matrix.tutorial }}
      run: |
        export TERM=xterm-256color
        export COLUMNS=80
        export LINES=24
        xvfb-run bun test:headful tests/${{ matrix.tutorial }}.spec.ts
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report-${{ matrix.tutorial }}
        path: |
          ${{ github.workspace }}/playwright-report/
        retention-days: 10

  